.footer {
    background-color: rgb(99, 4, 78);
    padding: 24px 20px;
    text-align: center;
    color: white;
    margin-top: 60px;
  }
  
  .footer-links {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    margin: 0 15px;
  }
  
  .footer-logo {
    width: 40px; /* Adjust the size of the logos */
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .footer-logo:hover {
    transform: scale(1.1); /* Hover effect to enlarge the logo */
  }
  
  .footer-text {
    font-size: 0.85rem;
    font-weight: 500;
    color: #ffa435;
  }
  
  